<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" id="greeting"></h1>
    <p class="lead">Welcome to MAKEALIST! Start making advanced lists today!</p>
    <%= show_svg("sun.svg") %>
    <%= show_svg("moon.svg") %>
    <%= show_svg("stars.svg") %>
  </div>
</div>
<div class="row home-row">
	<%= content_tag :a, :href => lists_path, :class => 'col-xs-12 col-md-3 home-action explore-lists' do %>
        <h2>Explore Lists</h2>
        <p>Browse lists created by others.</p>
    <% end %>
    <% if current_user %>
        <%= content_tag :a, :href => new_list_path, :class => 'col-xs-12 col-md-3 home-action new-lists' do %>
	        <h2>New List</h2>
	        <p>Create a list now!</p>
    	<% end %>
    	<%= content_tag :a, :href => root_path, :class => 'col-xs-12 col-md-3 home-action my-lists' do %>
	        <h2>See Your Lists</h2>
	        <p>We made a list of <em>your</em> lists!</p>
    	<% end %>
    <% else %>
        <%= content_tag :a, :href => new_user_registration_path, :class => 'col-xs-12 col-md-3 home-action home-sign-up-btn' do %>
	        <h2>Sign Up</h2>
	        <p>Sign up for MAKEALIST!</p>
    	<% end %>
    <% end %>
</div>