<div class="list-group-item">
    <h2>
        <%= product.position %>
        <%= product.name %>
    </h2>
    <p><%= product.description %></p>
    <% if product.store1_name && product.store1_price && product.store1_link %>
        <%= content_tag :a, :href => product.store1_link, :target => '_blank', :class => 'btn btn-primary' do %>
            <i class="fa fa-link fa-fw" aria-hidden="true"></i> <%= product.store1_name %>
            <smaller><%= number_to_currency(product.store1_price, precision: 2) %></smaller>
        <% end %>
    <% elsif product.store1_name && product.store1_price %>
        <%= content_tag :div, :class => 'btn' do %>
            <i class="fa fa-shopping-bag fa-fw" aria-hidden="true"></i> <%= product.store1_name %>
            <smaller><%= number_to_currency(product.store1_price, precision: 2) %></smaller>
        <% end %>
    <% elsif product.store1_name %>
        <%= content_tag :div, :class => 'btn no-button' do %>
            <i class="fa fa-shopping-bag fa-fw" aria-hidden="true"></i> <%= product.store1_name %>
        <% end %>
    <% end %>
    <% if product.store2_name %>
        <%= content_tag :a, :href => product.store2_link, :target => '_blank', :class => 'btn btn-yellow' do %>
            <i class="fa fa-link fa-fw" aria-hidden="true"></i> <%= product.store2_name %>
            <smaller><%= number_to_currency(product.store2_price, precision: 2) %></smaller>
        <% end %>
    <% end %>
</div>