<div class="row product-list-item">
    <div class="col-xs-3 product-img-container">
        <%= image_tag("shopping_bags.jpg", alt: "Shopping Bag") %>
    </div>
    <div class="col-xs-9 product-text-container">
        <%= content_tag :h3 do %>
            <%= link_to product.name, list_product_path(product.list, product), :class => 'product-title' %>
        <% end %>
        <p class="product-text"><%= product.description %></p>
        <% if product.store1_name && product.store1_price && product.store1_link %>
            <%= link_to "#{number_to_currency(product.store1_price, precision: 2)} at #{product.store1_name}", product.store1_link, target: '_blank', class: 'product-store link' %>
        <% elsif product.store1_name && product.store1_price %>
            <div class="product-store price">
                <%= number_to_currency(product.store1_price, precision: 2) %> at <%= product.store1_name %>
            </div>
        <% elsif product.store1_name %>
            <div class="product-store store">
                <%= product.store1_name %>
            </div>
        <% end %>
        <% if product.store2_name && product.store2_price && product.store2_link %>
            <%= link_to "#{number_to_currency(product.store2_price, precision: 2)} at #{product.store2_name}", product.store2_link, target: '_blank', class: 'product-store link' %>
        <% elsif product.store2_name && product.store2_price %>
            <div class="product-store price">
                <%= number_to_currency(product.store2_price, precision: 2) %> at <%= product.store2_name %>
            </div>
        <% elsif product.store2_name %>
            <div class="product-store store">
                <%= product.store2_name %>
            </div>
        <% end %>
        <p class="product-small-text"><small class="text-muted">Last updated <%= time_ago_in_words(product.updated_at) %> ago.</small></p>
    </div>
</div>