<div class="row">
    <div class="col-md-12">
        <h1><%= @product.name %> <span class="badge badge-secondary">Product</span></h1>
    </div>
    <div class="col-md-9">
        <div class="card mb-3">
            <div class="card-body">
                <p class="lead card-text"><%= @product.description %></p>
                <div class="card-title">
                    <% if @product.store1_name && @product.store1_price && @product.store1_link %>
                        Get it at <%= @product.store1_name %> for <%= number_to_currency(@product.store1_price, precision: 2) %>
                        <%= link_to '<i class="fa fa-external-link-square fa-fw" aria-hidden="false"></i>'.html_safe, @product.store1_link, target: '_blank' %>
                    <% elsif @product.store1_name && @product.store1_price %>
                        <%= @product.store1_name %> has it for <%= number_to_currency(@product.store1_price, precision: 2) %>
                    <% elsif @product.store1_name %>
                        Find it at <%= @product.store1_name %>
                    <% end %>
                </div>
                <div class="card-title">
                    <% if @product.store2_name && @product.store2_price && @product.store2_link %>
                        Get it at <%= @product.store2_name %> for <%= number_to_currency(@product.store2_price, precision: 2) %>
                        <%= link_to '<i class="fa fa-external-link-square fa-fw" aria-hidden="false"></i>'.html_safe, @product.store2_link, target: '_blank' %>
                    <% elsif @product.store2_name && @product.store2_price %>
                        <%= @product.store2_name %> has it for <%= number_to_currency(@product.store2_price, precision: 2) %>
                    <% elsif @product.store2_name %>
                        Find it at <%= @product.store2_name %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 buttons">
        <%= link_to '<i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Edit'.html_safe, edit_list_product_path, class: 'btn btn-success' %>
        <%= link_to '<i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete'.html_safe, [@product.list, @product], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this product?' } %><br>
        <%= link_to '<i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i> Back to List'.html_safe, list_path(@product.list, @product), class: 'btn btn-orange' %>
    </div>
</div>